* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Bradley Hand, cursive;
  }
.naving {
    border-bottom: 1px solid rgb(171, 170, 162);

  }
  
  .nav-item a {
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 2px;
    border: 1px solid #7490a7;
    background-color: #c4e3fb;
  
  }
  .nav-item a:hover {
    color: purple;
  }

  body {
    background: linear-gradient(109.6deg,#f0efeb8b 11.2%, #dbe7e4 91.1%);
  }
  .grad{
    background: linear-gradient(109.6deg, #94d2bd 11.2%, #5ca18a 91.1%);
  }
  .grad:hover{
    box-shadow: 2px 2px 5px rgb(255, 124, 0) ;
  }

  .btn{
    background: linear-gradient(to top, #e6b980 0%, #eacda3 99%);
  }
  .btn:hover{
    background: linear-gradient(to top, #a37943 0%, #dcb47b 99%);
  }

/* Scrollbar */
html::-webkit-scrollbar {
  width: 5px;
}
 
html::-webkit-scrollbar-track {
  background: rgb(66, 71, 28);
  box-shadow: inset 0 0 6px rgb(202, 255, 10);
}
 
html::-webkit-scrollbar-thumb {
  background: rgb(144, 0, 255);
  height: 5px;
  
}
